@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;1,100;1,200&family=Plus+Jakarta+Sans:wght@500;700;800&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: plus Jakarta sans;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
header {
    margin: 0 10%;
    margin-bottom: 5%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: plus jakarta sans;
    font-size: 24px;
    color: #13183f;
}

.btn {
    text-decoration: none;
    background: pink;
    padding: 7px 15px;
    border-radius: 25px;
    font-size: .75rem;
    color: #FFFFFF;
}

.btn-1 {
    background: #13183f;

}
/* .btn-1 a {
    text-decoration: none;
    color: #FFFFFF;
} */

.btn-2 {
    padding: 10px 15px;
    background: linear-gradient(#F02AA6, #FF6F48);
}

/* Styling the hero section */

.hero {
    display: flex;
    margin-left: 10%;

}



.img-1 {
    width: 650px;
    transform: translate(200px, -225px);

}
.image {
}

.container {
    
}

.container h1 {
    color: #13183f;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.container p {
    color: #83869A;
    width: 50%;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.btn-2 {
    background: linear-gradient(#F02AA6, #FF6F48);
}

/* Styling the grid*/

.grid {
    margin-left: 10%;
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 60px;
}

.grids {
    width: 350px;
    height: 350px;
    background: gray;
    border-radius: 25px;
}

.grid-1 {
    background: linear-gradient(#F02AA6, #FF6F48);

}

.grid-1 h2 {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 70px;
    color: #FFFFFF;
}

.grid-u {
    background: #FFFFFF;
    box-shadow: 2px 2px lightgray;
}

.grid-u h3 {
    color: #13183F;
    margin-top: 40px;
}

.grid-u p {
    margin-top: 40px;
    margin-bottom: 70px;
}

.grid-u a {
    text-decoration: none;
    color: #F74780;
    
}

/* STyling the footer */

footer {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    background: #13183F;
    height: 20%;
    align-items: center;
}

.logo-1 {
    color: #FFFFFF;
    margin-left: 10%;
}

.btn-3 {
    margin-right: 10%;
    height: 20%;
    background: linear-gradient(#4851FF, #F02AA6);
}